@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
<br />
</div>



<div class="row well">
    <p>Aplicação para fazer a gestão do estoque de uma loja. O sistema deve ser capaz de gerenciar Peças de Roupas e Confecções.</p>



    <p>Peças de Roupas são cadastradas com as seguintes informações:</p>

    <p>·         Tipo de Roupa</p>

    <p>·         Quantidade</p>

    <p>Confecções são cadastradas de forma automática quando a quantidade de uma Peça de roupa for atualizada para zero,  com as seguintes informações:</p>

    <p>·         Peça de roupa a ser resposta</p>

    <p>·         Data e hora de quando a confecção foi cadastrada. (Dica verifiquem a propriedade DateTime.Now)</p>
</div>
