@model GeToque.Models.Roupa

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastro de produtos</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipos" class="control-label"></label>
                <select asp-for="Tipos" asp-items="Html.GetEnumSelectList<GeToque.Models.Roupa.Tipo>()" class="form-control">
                    <option selected="selected" value="">Selecione</option>
                </select>
                <span asp-validation-for="Tipos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Lista de roupas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
